.main {
  display: flex;
  font-family: 'Inter', sans-serif;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.inner {
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
  border-radius: 15px;
  border: 1px solid rgb(0 0 0 / .1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
  padding: 15px;
}

@media (prefers-color-scheme: dark) {
  .inner {
    border: 1px solid #fff;
  }
}
